<app-header ></app-header>
<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 style="text-align:center">Agregar aula</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="classForm" action="">
                <div class="form-group">
                    <input placeholder="Capacidad" type="number" min="1" [(ngModel)]="classroom.capacity" name="capacity" formControlName="classCapacity" class="form-control">
                    <div class="alert-danger" *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)">
                        <div class="container-error-message" *ngIf="capacity.errors.required">
                          La capacidad es un campo obligatorio
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Disponibilidad</label>
                    <select [(ngModel)]="classroom.availability" name="availability" formControlName="classAvailability" class="form-control">
                    <option>Disponible</option>
                    <option>No disponible</option>
                    <option>En mantenimiento</option>
                  
                  </select>
                    <div class="alert-danger" *ngIf="availability.invalid && (availability.dirty || availability.touched)">
                        <div class="container-error-message" *ngIf="availability.errors.required">
                          La disponibilidad es un campo obligatorio
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Tipo de aula</label>
                    <select [(ngModel)]="classroom.type" name="type" formControlName="classType" class="form-control">
                    <option>Aula</option>
                    <option>Salón principal</option>
                  </select>
                    <div class="alert-danger" *ngIf="type.invalid && (type.dirty || type.touched)">
                        <div class="container-error-message" *ngIf="type.errors.required">
                          Debe seleccionar un tipo                       
                         </div>
                    </div>
                </div>
               <button style="margin-left: 40%;"
               [disabled] = "classForm.invalid"
                (click)="Save()" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>
