<app-header ></app-header>
<div class="container">
    <div class="card">
        <div class="card-header">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 style="text-align:center">Lista de solicitudes de cursos</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del curso</th>
                        <th>Email</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de finalización</th>
                        <th>Nombre del solicitante</th>
                        <th>Modo de la clase</th>
                        <th>Motivo de la solicitud</th>
                        <th>Cantidad de estudiantes</th>
                        <th>Teléfono</th>
                        <th><em class="fa fa-cog"></em></th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let courserequest of coursesrequest" class="text-center">
                        <td>{{courserequest.pk_idRequest}}</td>
                        <td>{{courserequest.courseName}}</td>
                        <td>{{courserequest.email}}</td>
                        <td>{{courserequest.startDate}}</td>
                        <td>{{courserequest.finishDate}}</td>
                        <td>{{courserequest.fullName}}</td>
                        <td>{{courserequest.mode}}</td>
                        <td>{{courserequest.motivo}}</td>
                        <td>{{courserequest.studentQuantity}}</td>
                        <td>{{courserequest.tel}}</td>
                    
                        <td align="center">
                            <a class="btn btn-default" (click)="Accept(courserequest)" ><em class="fa fa-check"></em></a>
                            <a class="btn btn-danger" (click)= "Reject(courserequest)" ><em class="fa fa-times"></em></a>
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

