<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/IMG_0640.PNG" />
    <title>Plataforma Virtual Cultural</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Favicon-->
    <link rel="icon" href="img/favicon/favicon-32x32.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/favicon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/favicon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="img/favicon/favicon-54x54.png">

</head>
<body>

    <!-- Style switcher start -->
    <div class="style-switch-wrapper">
        <div class="style-switch-button">
            <i class="fa fa-sliders"></i>
        </div>
        <button id="preset2" class="btn btn-sm btn-primary"></button>
        <button id="preset3" class="btn btn-sm btn-primary"></button>
        <br /><br />
        <a class="btn btn-sm btn-primary close-styler float-right">Cerrar</a>
    </div>
    <!-- Style switcher end -->

    <div class="body-inner">
        <!-- Header start -->
      
        <!-- Slider start -->
        <section id="home" class="p-0">
            <div id="main-slide" class="carousel slide" data-ride="carousel">
                <div class="overlay"></div>
                <ol class="carousel-indicators">
                    <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slide" data-slide-to="1"></li>
                    <li data-target="#main-slide" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid" src="/assets/images/slider2/bg1.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated2">
                                    CENTRO CULTURAL
                                </h2>
                                <h3 class="animated3">
                                    Municipalidad de San Pablo de Heredia
                                </h3>
                                <p class="animated4"><a href="#" class="slider btn btn-primary white">Información</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid" src="/assets/images/slider2/bg2.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated4">
                                    Fomentamos la cultura y arte en el cantón
                                </h2>
                                <h3 class="animated5">

                                </h3>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid" src="/assets/images/slider2/bg3.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated7">
                                    EVENTOS
                                </h2>
                                <h3 class="animated8">
                                    TRANSMISIONES EN VIVO
                                </h3>
                                <div>
                                    <a class="animated4 slider btn btn-primary btn-min-block white"
                                        href="#">Disponibles</a>
                                    <a class="animated4 slider btn btn-primary btn-min-block solid" href="#">Reservar
                                        tiquetes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control carousel-control-prev" href="#main-slide" data-slide="prev">
                    <span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control carousel-control-next" href="#main-slide" data-slide="next">
                    <span><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </section>
        <!--/ Slider end -->




        <!-- Portfolio start -->
        <section id="portfolio" class="portfolio portfolio-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 heading text-center">
                        <span class="icon-pentagon wow bounceIn"></span>
                        <h2 class="title2">Eventos
                            <span class="title-desc">Expresiones del arte, exposiciones de pintura,cursos, conciertos,
                                etcétera.</span>
                        </h2>
                    </div>
                </div> <!-- Title row end -->

                <div id="isotope" class="row isotope">
                    <div class="col-sm-3 web-design isotope-item">
                        <div class="grid">
                            <figure class="m-0 effect-oscar">
                                <img src="/assets/images/portfolio/ev1.jpg" alt="">
                                <figcaption>
                                    <h3>Bailes típicos</h3>
                                    <a href="portfolio-item.html"></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                        href="/assets/images/ev1.jpg"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- Isotope item end -->

                    <div class="col-sm-3 development isotope-item">
                        <div class="grid">
                            <figure class="m-0 effect-oscar">
                                <img src="/assets/images/portfolio/ev2.jpg" alt="">
                                <figcaption>
                                    <h3>Charlas</h3>
                                    <a href="portfolio-item.html"></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                        href="/assets/images/ev2.jpg"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- Isotope item end -->

                    <div class="col-sm-3 joomla isotope-item">
                        <div class="grid">
                            <figure class="m-0 effect-oscar">
                                <img src="/assets/images/portfolio/ev3.jpg" alt="">
                                <figcaption>
                                    <h3>Curso de costura</h3>
                                    <a href="portfolio-item.html"></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                        href="/assets/images/ev3.jpg"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- Isotope item end -->

                    <div class="col-sm-3 wordpress isotope-item">
                        <div class="grid">
                            <figure class="m-0 effect-oscar">
                                <img src="/assets/images/portfolio/ev4.jpg" alt="">
                                <figcaption>
                                    <h3>Rendición de cuentas</h3>
                                    <a href="portfolio-item.html"></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                        href="/assets/images/ev4.jpg"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- Isotope item end -->

                    <div class="col-sm-3 joomla isotope-item">
                        <div class="grid">
                            <figure class="m-0 effect-oscar">
                                <img src="/assets/images/portfolio/ev5.jpg" alt="">
                                <figcaption>
                                    <h3>Curso de uñas</h3>
                                    <a href="portfolio-item.html"></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                        href="/assets/images/ev5.jpg"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- Isotope item end -->

                    <div class="col-sm-3 development isotope-item">
                        <div class="grid">
                            <figure class="m-0 effect-oscar">
                                <img src="/assets/images/portfolio/ev6.jpg" alt="">
                                <figcaption>
                                    <h3>Taller de música</h3>
                                    <a href="portfolio-item.html"></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                        href="/assets/images/ev6.jpg"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- Isotope item end -->

                    <div class="col-sm-3 development isotope-item">
                        <div class="grid">
                            <figure class="m-0 effect-oscar">
                                <img src="/assets/images/portfolio/ev7.jpg" alt="">
                                <figcaption>
                                    <h3>Clases</h3>
                                    <a href="portfolio-item.html"></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                        href="/assets/images/ev7.jpg"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- Isotope item end -->

                    <div class="col-sm-3 development isotope-item">
                        <div class="grid">
                            <figure class="m-0 effect-oscar">
                                <img src="/assets/images/portfolio/ev8.jpg" alt="">
                                <figcaption>
                                    <h3>Instalación del Centro Cultural</h3>
                                    <a href="portfolio-item.html"></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                        href="/assets/images/ev8.jpg"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- Isotope item end -->
                </div><!-- Content row end -->
            </div><!-- Container end -->
        </section><!-- Portfolio end -->

        <!-- Testimonial start-->
        <section class="testimonial parallax parallax2">
            <div class="parallax-overlay"></div>
            <div class="container">
                <div class="row">
                    <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
                        <div class="item">
                            <div class="testimonial-thumb">
                            </div>
                            <div class="testimonial-content">
                                <h3 class="name">Propósito<span>del Centro Cultural</span></h3>

                                <p class="testimonial-text">
                                    Impulsar el desarrollo cultural y el arte en el cantón de San Pablo de Heredia
                                    Promover y realizar actividades y eventos con fines culturales y artísticos
                                    con el fin de elevar el nivel cultural de la comunidad.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-thumb">
                            </div>
                            <div class="testimonial-content">
                                <h3 class="name">Misión<span>de la Municipalidad</span></h3>

                                <p class="testimonial-text">
                                    La Municipalidad de San Pablo de Heredia, planifica, regula, y promueve el
                                    desarrollo
                                    integral sustentable y competitivo del cantón; a través de la prestación de
                                    servicios
                                    de calidad y la ejecución de proyectos de desarrollo social y humano, fortaleciendo
                                    la
                                    participación ciudadana, la rendición de cuentas, con el mejor talento humano y el
                                    uso
                                    de las mejores herramientas tecnológicas.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-thumb">
                            </div>
                            <div class="testimonial-content">
                                <h3 class="name">Visión<span>de la Municipalidad</span></h3>

                                <p class="testimonial-text">
                                    Ser una Municipalidad líder en gestión administrativa de Gobierno local, con altos
                                    estándares de eficacia, eficiencia, y efectividad, que garanticen equidad e
                                    inclusión,
                                    desarrollo social y humano, para que el Cantón de San Pablo de Heredia alcance los
                                    más
                                    altos niveles de competitividad.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-thumb">
                            </div>
                            <div class="testimonial-content">
                                <h3 class="name">Valores<span></span></h3>
                                <p class="testimonial-text">
                                    Responsabilidad, respeto, compromiso,
                                    excelencia, transparencia, honestidad
                                    y puntualidad.

                                </p>

                            </div>
                        </div>
                    </div>
                    <!--/ Testimonial carousel end-->
                </div>
                <!--/ Row end-->
            </div>
            <!--/  Container end-->
        </section>
        <!--/ Testimonial end-->



        <!-- Newsletter start -->
        <section id="newsletter" class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 heading text-center">
                        <span class="icon-pentagon wow bounceIn animated"><i class="fa fa-envelope"></i></span>
                        <h2 class="title2">Sugerencias
                            <span class="title-desc"></span>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <form action="#" method="post" id="newsletter-form" class="newsletter-form wow bounceIn"
                            data-wow-duration=".8s">
                            <div class="form-group">
                                <input type="email" name="email" id="newsletter-form-email"
                                    class="form-control form-control-lg" placeholder="" autocomplete="off">
                                <button class="btn btn-primary solid">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/ Content row end -->
            </div>
            <!--/ Container end -->
        </section><!-- Newsletter end -->

        <!-- Map start here -->
        <section id="map-wrapper" class="p-0">
            <div class="container">
                <div class="contact-info-inner">
                    <h3>Contacto</h3>
                    <div><i class="fa fa-map-marker float-left"></i>
                        <p><strong>Dirección</strong>Contiguo a Cruz Roja de San Pablo, Plaza Los Expresidentes, San
                            Pablo, Heredia.</p>
                    </div>
                    <div><i class="fa fa-phone float-left"></i>
                        <p><strong>Teléfono</strong>+(506) 25605608</p>
                    </div>
                    <div><i class="fa fa-envelope-o float-left"></i>
                        <p><strong>Email</strong>centrocultural@sanpablo.go.cr</p>
                    </div>
                    <div><i class="fa fa-compass float-left"></i>
                        <p><strong>Horario</strong>Lunes - Viernes, 8:00AM - 4:00PM</p>
                    </div>

                </div>
            </div>
            <div class="map" id="map_canvas" data-latitude="9.998784" data-longitude="-84.092208"
                data-marker="/src/assets/images/marker.png"></div>
        </section>
        <!--/ Map end here -->


        <!-- Footer start -->
        <section id="footer" class="footer footer-map">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-logo">
                            <img src="/assets/images/IMG_0640.PNG" alt="logo">
                        </div>
                        <div class="gap-20"></div>
                        <ul class="social-icon dark unstyled">
                            <li>

                                <a title="Facebook" href="https://www.facebook.com/CCSanPablo">
                                    <span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
                                </a>
                                <a title="Municipalidad de San Pablo" href="https://www.sanpablo.go.cr/">
                                    <span class="icon-pentagon wow bounceIn"><i class="fa fa-google"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/ Row end -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="copyright-info">
                            &copy; 2021 Centro Cultural de San Pablo de Heredia. Todos los derechos reservados.
                        </div>
                    </div>
                </div>
                <!--/ Row end -->
                <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix position-fixed">
                    <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
                </div>
            </div>
            <!--/ Container end -->
        </section>
        <!--/ Footer end -->

    </div><!-- Body inner end -->

    <!-- google map -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="/src/assets/plugins/google-map/gmap.js"></script>
</body>

</html>