<app-header ></app-header>
<div class="container">
    <div class="card">
        <div class="card-header">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 style="text-align:center" >Lista de cursos</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Modalidad</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de finalización</th>
                        <th>Horario</th>
                        <th>Profesor(a)</th>
                        <th>Cantidad de estudiantes</th>
                        <th><em class="fa fa-cog"></em></th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courses" class="text-center">
                        <td>{{course.pk_courseCode}}</td>
                        <td>{{course.name}}</td>
                        <td>{{course.mode}}</td>
                        <td>{{course.startDate}}</td>
                        <td>{{course.finishDate}}</td>
                        <td>{{course.shedule}}</td>
                        <td>{{course.professor}}</td>
                        <td>{{course.studentQuantity}}</td>
                        <!--
                        <td>
                            <button (click)="Edit(course)" class="btn btn-warning">Editar</button>
                            <button (click)="Delete(course)" class="btn btn-danger">Eliminar</button>
                           
                        </td>
                        -->
                        <td align="center">
                            <a class="btn btn-default" (click)="Edit(course)" ><em class="fa fa-pencil"></em></a>
                            <a class="btn btn-danger" (click)= "Delete(course)" ><em class="fa fa-trash"></em></a>
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
