<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="images/IMG_0640.PNG" />
        <title>Plataforma Virtual Cultural</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
   </head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <header class="home_1_update">

        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="info_wrapper">
                            <div class="contact_info">                   
                                <ul class="list-unstyled">
                                    <li><i class="fi-creative-phone-call"></i>+(506) 25605608</li>
                                    <li><i class="fi-creative-email"></i>centrocultural@sanpablo.go.cr</li>
                                </ul>                    
                            </div>
                            <div class="social_wrapper d-flex">
                                <ul class="social-items d-flex list-unstyled">
                                    <li><a href="#"><fa-icon [icon]="signOut" style="color:white"></fa-icon>></a></li>
                                </ul>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edu_nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light bg-faded">
                    <a class="navbar-brand" href="virtualClassroom"><img src="/assets/images/logA.png" alt="logo"></a>
                    <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav nav lavalamp ml-auto menu" >
                            <li class="nav-item"><a href="virtualClassroom" class="nav-link active">Inicio</a> </li>
                            <li class="nav-item dropdown" *ngIf="showUserBoard || showProfessorBoard" >
                                <a  style ="color: #ffffff" class="nav-link dropdown-toggle" href="#" id="navbarClass" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Mis cursos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                  <a class="dropdown-item" (click)="refresh(course)" *ngFor="let course of courses" routerLink="">{{course.name}}</a>
                               
                                </div>
                              </li>
                        </ul>
                    </div>
                </nav><!-- END NAVBAR -->
            </div> 
        </div>
    </header>
    
        <div class="container">
            <div class="carda">
                <div class="card-header">
                        <main>
                            <div class="btn-group" role="group" aria-label="Vertical button group">
                                <button id="l1" *ngIf="showProfessorBoard" (click)="return()" type="button"class="btn btn-warning "><span class="fa fa-arrow-left"></span> &nbsp;Volver&nbsp;</button>
                                <button id="l1" *ngIf="showProfessorBoard" (click)="studentList()" type="button" class="btn btn-danger ">&nbsp;<span class="fa fa-list"></span> &nbsp;Lista de estudiantes &nbsp;</button>
                                <button id="l3" *ngIf="showProfessorBoard" (click)="attendance()" type="button" class="btn btn-success ">&nbsp;<span class="fa fa-file-excel-o"></span> &nbsp;Generar reporte de asistencia &nbsp;</button>
                              </div>
                        </main>
                        <br>                
                     </div>
                <div class="card-body">
                    <h3 style="text-align:center" >Lista de anuncios</h3>
                    <button *ngIf="showProfessorBoard" id="add" (click)="addAdvertisement()" type="button" class="btn btn-success" >Agregar</button>
              
                    <table class="table table-bordered table-sm">
                        <thead >
                            <tr class="text-center">
                                <th >Título</th>
                                <th >Estado</th>
                                <th></th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let ad of Ads">
                                <td scope="row">{{ad.title}}</td>
                                <td scope="row">{{ad.state}}</td>
                                <td align="center">
                                    <button style="background-color: transparent; border: none;" (click) = "current(ad)" data-toggle="modal" data-target="#portfolioModal"><i class="fa fa-eye fa-2x" aria-hidden="true"></i>&nbsp;</button>
                                    <button (click) = "Edit(ad)" style="background-color: transparent; border: none;" *ngIf="showProfessorBoard"><a *ngIf="showProfessorBoard"><em class="fa fa-pencil fa-2x"></em></a></button>&nbsp;
                                    <button *ngIf="showProfessorBoard" style="background-color: transparent; border: none;" data-toggle="modal"(click) = "current(ad)"  data-target="#portfolioModal1"><a ><em class="fa fa-trash fa-2x"></em></a>&nbsp;</button>
                                  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center" >
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8" >
                                     <!-- Portfolio Modal - Title-->
                                     <br>
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">{{currentAd.title}}</h2>
                              <!-- Portfolio Modal - Text-->
                              <br>
                              <p class="mb-5">{{currentAd.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center" >
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8" >     
                              <!-- Portfolio Modal - Text-->
                              <br>
                              <p class="mb-5">¿Está seguro que quiere eliminar este aviso?</p>
                              <button id="boton1" (click) = "Delete(currentAd)" class="btn btn-success" data-dismiss="modal">Aceptar</button>&nbsp;&nbsp;
                              <button id="boton1" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                              <br><br>   
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   
</body>

</html>



