<app-header ></app-header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="body-inner">
  <!-- Masthead-->
  <br>  <br>  
  <!-- Portfolio Section-->
  <section class="page-section portfolio" id="portfolio">
      <div class="container">
          <!-- Portfolio Section Heading-->
          
         
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Aulas Disponibles</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-chalkboard-teacher" aria-hidden="true"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Portfolio Grid Items-->
          <div class="row justify-content-center">
              <!-- Portfolio Item 1-->
              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
                      </div>
                      <img class="img-fluid" src="/assets/images/portfolio/7.png" alt="" />
                  </div>
              </div>
              <!-- Portfolio Item 2-->
              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="/assets/images/portfolio/8.png" alt="" />
                  </div>
              </div>
              <!-- Portfolio Item 3-->
              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="/assets/images/portfolio/9.png" alt="" />
                  </div>
              </div>
             
       
          </div>
          <br><br><br><br><br>
      </div>
  </section>
      
            <!-- Portfolio Modals-->
  <!-- Portfolio Modal 1-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Aula 01</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Image-->
                              <img class="img-fluid2 rounded mb-5" src="/assets/images/portfolio/7.png" alt="" />
                              <!-- Portfolio Modal - Text-->
                              <p class="mb-5">Capacidad: 28 personas.</p>
                              <button class="btn btn-primary" data-dismiss="modal">
                               
                                 SOLICITUD DE RESERVA
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio Modal 2-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Aula 02</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Image-->
                              <img class="img-fluid2 rounded mb-5" src="/assets/images/portfolio/8.png" alt="" />
                              <!-- Portfolio Modal - Text-->
                           <p class="mb-5">Capacidad: 35 personas.</p>
                           <button class="btn btn-primary" data-dismiss="modal">
                                 
                                 SOLICITUD DE RESERVA
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio Modal 3-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal3Label">Salón Principal</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Image-->
                              <img class="img-fluid rounded mb-5" src="/assets/images/portfolio/9.png" alt="" />
                              <!-- Portfolio Modal - Text-->
                            <p class="mb-5">Capacidad: 50 personas.</p>
                              <button class="btn btn-primary" data-dismiss="modal">
                                
                                  SOLICITUD DE RESERVA
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div><!-- Body inner end -->