<header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <!-- Brand -->
        <a class="navbar-brand" routerLink=#>
          <a class="navbar-brand" href="#">
              <img src="/assets/images/IMG_0674.PNG" height="80" >
         </a> 
        
          
        </a><div class="container">
    
        
    
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
          <!-- Left -->
          <ul class="navbar-nav mr-auto">
           
          </ul>
    
          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
             <li class="nav-item">
              <a class="nav-link" href="home"><i class="fa fa-home"></i>Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
             <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" href="#">Información</a>
            </li>
            <li class="nav-item dropdown" *ngIf="!isLoggedIn || showUserBoard">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Servicios
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="classroomCatalog">Aulas</a>
                    <a class="dropdown-item" href="courseCatalog">Cursos</a>
                    <a class="dropdown-item" href="eventCatalog">Eventos</a>
                    <a class="dropdown-item" href="youtubelive">Transmisiones en vivo</a>
                </div>
            </li>
           
            <li class="nav-item" *ngIf="!isLoggedIn">
              <a class="nav-link" href="#">Contacto</a>
          </li>
          <!-- admin modules -->
          <li class="nav-item dropdown" *ngIf="showAdminBoard">
            <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profesores
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/professorList">Lista de profesores</a>
              <a class="dropdown-item" routerLink="/add">Agregar profesor</a>
            </div>
          </li>
              <li class="nav-item dropdown" *ngIf="showAdminBoard">
                <a class="nav-link dropdown-toggle" href=# id="navbarEvent"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Eventos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="listEvent" routerLink="/listEvent" >Lista de eventos</a>
                  <a class="dropdown-item" href="addEvent" routerLink="/addEvent">Agregar eventos</a>
                </div>
              </li>
              <li class="nav-item dropdown" *ngIf="showAdminBoard">
                <a  class="nav-link dropdown-toggle" href="#" id="navbarCourse" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cursos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="listCourse" routerLink="/listCourse" >Lista de cursos</a>
                  <a class="dropdown-item" href="listCourse" routerLink="/addCourse" >Agregar cursos</a>
                </div>
              </li>
              <li class="nav-item dropdown" *ngIf="showAdminBoard">
                <a  class="nav-link dropdown-toggle" href="#" id="navbarClass" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Aulas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/listClassroom">Lista de aulas</a>
                  <a class="dropdown-item" routerLink="/addClass">Agregar aulas</a>
                </div>
              </li>
              <li class="nav-item dropdown" *ngIf="showAdminBoard">
                <a  class="nav-link dropdown-toggle" href="#" id="navbarClass" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Solicitudes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/listClassroom">Aulas</a>
                  <a class="dropdown-item" routerLink="/addClass">Cursos</a>
                </div>
              </li>
             <!-- admin modules -->
              <!-- super admin modules -->
              <li class="nav-item dropdown" *ngIf="showSuperAdminBoard">
               <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Usuarios
              </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/list">Lista de usuarios</a>
            <a class="dropdown-item" routerLink="/add">Agregar usuarios</a>
            </div>
           </li>
             
        <li class="nav-item dropdown" *ngIf="showSuperAdminBoard">
          <a class="nav-link dropdown-toggle" href=# id="navbarEvent"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eventos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="listEvent" routerLink="/listEvent" >Lista de eventos</a>
            <a class="dropdown-item" href="addEvent" routerLink="/addEvent">Agregar eventos</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="showSuperAdminBoard">
          <a  class="nav-link dropdown-toggle" href="#" id="navbarCourse" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cursos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="listCourse" routerLink="/listCourse" >Lista de cursos</a>
            <a class="dropdown-item" href="listCourse" routerLink="/addCourse" >Agregar cursos</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="showSuperAdminBoard">
          <a  class="nav-link dropdown-toggle" href="#" id="navbarClass" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Aulas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/listClassroom">Lista de aulas</a>
            <a class="dropdown-item" routerLink="/addClass">Agregar aulas</a>
          </div>
        </li>
        <!-- super admin modules -->
        <!-- user modules -->
        <li class="nav-item dropdown" *ngIf="showUserBoard" >
          <a  class="nav-link dropdown-toggle" href="#" id="navbarClass" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mis cursos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngFor="let course of courses">
            <a class="dropdown-item" routerLink="">{{course.name}}</a>
          </div>
        </li>
          </ul>
    
          <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
              <a href="/register" class="nav-link" routerLink="register">Registrarse</a>
            </li>
          
            <li class="nav-item" >
              <a href="/login" class="nav-link" routerLink="login"> <i class="fa fa-sign-in"></i>Iniciar sesión</a>
            </li>
          </ul>
      
          <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
              <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
            </li>
            <li class="nav-item" >
              <a href class="nav-link" (click)="logout()"><i class="fa fa-sign-out"></i>Cerrar sesión</a>
            </li>
          </ul>
        </div>
    
      </div>
    </nav>
    <!-- Navbar -->
    
    <router-outlet></router-outlet>
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>
    </header>
<div class="body-inner">
  <!-- Masthead-->
  <br>  <br>  
  <!-- Portfolio Section-->
  <section class="page-section portfolio" id="portfolio">
      <div class="container">
          <!-- Portfolio Section Heading-->
          
         
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Aulas Disponibles</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Portfolio Grid Items-->
          <div class="row justify-content-center">
              <!-- Portfolio Item 1-->
              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="/assets/images/portfolio/7.png" alt="" />
                  </div>
              </div>
              <!-- Portfolio Item 2-->
              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="/assets/images/portfolio/8.png" alt="" />
                  </div>
              </div>
              <!-- Portfolio Item 3-->
              <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="/assets/images/portfolio/9.png" alt="" />
                  </div>
              </div>
             
       
          </div>
          <br><br><br><br><br>
      </div>
  </section>
      
            <!-- Portfolio Modals-->
  <!-- Portfolio Modal 1-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Aula 01</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Image-->
                              <img class="img-fluid rounded mb-5" src="/assets/images/portfolio/7.png" alt="" />
                              <!-- Portfolio Modal - Text-->
                              <p class="mb-5">Capacidad: 28 personas.</p>
                              <button class="btn btn-primary" data-dismiss="modal">
                               
                                 SOLICITUD DE RESERVA
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio Modal 2-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Aula 02</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Image-->
                              <img class="img-fluid rounded mb-5" src="/assets/images/portfolio/8.png" alt="" />
                              <!-- Portfolio Modal - Text-->
                           <p class="mb-5">Capacidad: 35 personas.</p>
                           <button class="btn btn-primary" data-dismiss="modal">
                                 
                                 SOLICITUD DE RESERVA
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio Modal 3-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal3Label">Salón Principal</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Image-->
                              <img class="img-fluid rounded mb-5" src="/assets/images/portfolio/9.png" alt="" />
                              <!-- Portfolio Modal - Text-->
                            <p class="mb-5">Capacidad: 50 personas.</p>
                              <button class="btn btn-primary" data-dismiss="modal">
                                
                                  SOLICITUD DE RESERVA
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div><!-- Body inner end -->