<app-header ></app-header>

<div class="container page-top">
    <div class="row">

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="/assets/images/galeria/3.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/3.jpg" class="zoom img-fluid "  alt=""/>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="/assets/images/galeria/2.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/2.jpg" class="zoom img-fluid "  alt=""/>
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="/assets/images/galeria/8.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/8.jpg" class="zoom img-fluid "  alt=""/>
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a href="/assets/images/galeria/4.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/4.jpg" class="zoom img-fluid "  alt=""/>
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/5.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/5.jpg" class="zoom img-fluid "  alt=""/> 
         </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/6.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/6.jpg" class="zoom img-fluid "  alt=""/> 
         </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/assets/images/galeria/7.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/7.jpg" class="zoom img-fluid "  alt=""/>
         </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/1.png" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/1.png" class="zoom img-fluid "  alt=""/>  
         </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/10.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/10.jpg" class="zoom img-fluid "  alt=""/>  
         </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/11.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/11.jpg" class="zoom img-fluid "  alt=""/>  
         </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/12.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/12.jpg" class="zoom img-fluid "  alt=""/>  
         </a>
        </div><!--  -->
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/13.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/13.jpg" class="zoom img-fluid "  alt=""/>  
         </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/14.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/14.jpg" class="zoom img-fluid "  alt=""/>  
         </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/15.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/15.jpg" class="zoom img-fluid "  alt=""/>  
         </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/16.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/16.jpg" class="zoom img-fluid "  alt=""/>  
         </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
         <a href="/assets/images/galeria/9.jpg" class="fancybox" rel="ligthbox">
               <img src="/assets/images/galeria/9.jpg" class="zoom img-fluid "  alt=""/>  
         </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <video width="245" height="196" controls>
            <source src="/assets/images/galeria/1.mp4" type="video/mp4">
            Your browser does not support the <code>video</code> tag.
        </video>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <video width="245" height="196" controls>
            <source src="/assets/images/galeria/2.mp4" type="video/mp4">
            Your browser does not support the <code>video</code> tag.
        </video>
         </div><!-- comment -->
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <video width="245" height="196" controls>
            <source src="/assets/images/galeria/7.mp4" type="video/mp4">
            Your browser does not support the <code>video</code> tag.
        </video>
        </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <video width="245" height="196" controls>
            <source src="/assets/images/galeria/18.mp4" type="video/mp4">
            Your browser does not support the <code>video</code> tag.
        </video>
        </div>
   </div>

</div>