<app-header ></app-header>
<div class="container">
    <div class="card">
        <div class="card-header">
            <br><br><br><br>
            <h3 style="text-align:center" >Lista de Profesores</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" class="text-center">
                        <td>{{user.username}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.type}}</td>
                        <td align="center">
                            <a class="btn btn-default" (click)="Edit(user)" ><em class="fa fa-pencil"></em></a>
                            <a class="btn btn-danger" (click)= "Delete(user)" ><em class="fa fa-trash"></em></a>
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>