<app-header ></app-header>
<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
      <br>
      <br>
      <br>
      <br>
      <br>
            <h3>Editar cursos</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Id</label>
                    <input type="number" [(ngModel)]="course.pk_idCourse" name="pk_idCourse" class="form-control" readonly=»readonly»>
                </div>
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" [(ngModel)]="course.name" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Modalidad</label>
                    <input type="text" [(ngModel)]="course.mode" name="mode" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Fecha de Inicio</label>
                    <input type="date" [(ngModel)]="course.startDate" name="startDate" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Fecha de Finalización</label>
                    <input type="date" [(ngModel)]="course.finishDate" name="finishDate" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Horario</label>
                    <input type="text" [(ngModel)]="course.shedule" name="shedule" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Profesor(a)</label>
                    <input type="text" [(ngModel)]="course.professor" name="professor" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Cantidad de Estudiantes</label>
                    <input type="number" [(ngModel)]="course.studentQuantity" name="studentQuantity" class="form-control">
                </div>
            
                <button (click)="Update(course)" class="btn btn-danger">Actualizar</button>
            </form>
        </div>
    </div>
</div>