
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@font-face {
  font-family: 'JaapokkiRegular';
  src: url("/src/assets/fonts/jaapokki/jaapokki-regular.eot");
  font-weight: normal;
  font-style: normal;
}

.my-view {
  margin-top: 100px;
} 
.navbar-brand {
  padding:0;
  margin:0;
}

.navbar-nav .nav-link {
  
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 15px 18px !important;
  transition: .2s ease;
  font-size: 12px;
  color: black;
}
/* Dropdown */
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.dropdown-item {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 15px;
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: .2s ease;
}

.dropdown-item:hover {
  background: #fff;
}

.dropdown-menu {
  padding: 0 15px;
  border: 0;
  border-radius: 0px;
  width: 100%;
  box-shadow: none;
  background: none;
  min-width: 180px;
  top: 100%;
  left: -10px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  transition: .3s ease;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: #fff;
}


 .navbar {
  background-color:white;
} 

.scroll-box {
  overflow-y: scroll;
  padding: 1rem
}