<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-header">
            <h1 class="h4">{{course.name}}</h1>
        </div>
    </div>
</div>
<div class="container" id="principal">
    <div class="row nav nav-tabs">
        <div class="col-xs-12">
            <h1 class="h4">AVISOS</h1>
        </div>
    </div>
    <div class="row">
        <p>AVISOS</p>
    </div>
    



    <div class="row nav nav-tabs">
        <div class="col-md-12">
            <h1 class="h4">Semana 1</h1>
        </div>
    </div>
    <div class="row nav nav-tabs">
        <div class="col-md-12">
            <h1 class="h4">Semana 2</h1>
        </div>
    </div>
    <div class="row nav nav-tabs">
        <div class="col-md-12">
            <h1 class="h4">Semana 3</h1>
        </div>
    </div>
</div>
