<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="images/IMG_0640.PNG" />
        <title>Plataforma Virtual Cultural</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Goole Font -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <header class="home_1_update">

        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="info_wrapper">
                            <div class="contact_info">                   
                                <ul class="list-unstyled">
                                    <li><i class="fi-creative-phone-call"></i>+(506) 25605608</li>
                                    <li><i class="fi-creative-email"></i>centrocultural@sanpablo.go.cr</li>
                                </ul>                    
                            </div>
                            <div class="social_wrapper d-flex">
                                <ul class="social-items d-flex list-unstyled">
                                    <li><a (click)="logout()" ><fa-icon [icon]="signOut" style="color:white"></fa-icon>></a></li>
                                </ul>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edu_nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light bg-faded">
                    <a class="navbar-brand" href="virtualClassroom"><img src="/assets/images/logA.png" alt="logo"></a>
                    <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav nav lavalamp ml-auto menu" >
                            <li class="nav-item"><a href="virtualClassroom" class="nav-link active">Inicio</a> </li>
                            <li class="nav-item dropdown" *ngIf="showUserBoard || showProfessorBoard" >
                                <a  style ="color: #ffffff" class="nav-link dropdown-toggle" href="#" id="navbarClass" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Mis cursos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                  <a class="dropdown-item" (click)="refresh(course)" *ngFor="let course of courses" routerLink="">{{course.name}}</a>
                               
                                </div>
                              </li>
                        </ul>
                    </div>
                </nav><!-- END NAVBAR -->
            </div> 
        </div>
    </header>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <main >
    
                    <div class="btn-group" role="group" aria-label="Vertical button group">
                        <button (click)="return()" type="button"class="btn btn-warning "><span class="fa fa-arrow-left"></span> &nbsp;Volver&nbsp;</button>
                        <button (click)="studentList()"  *ngIf="showProfessorBoard" type="button" class="btn btn-danger ">&nbsp;<span class="fa fa-list"></span> &nbsp;Lista de estudiantes &nbsp;</button>
                        <button (click)="attendance()" *ngIf="showProfessorBoard" type="button" class="btn btn-success ">&nbsp;<span class="fa fa-file-excel-o"></span> &nbsp;Generar reporte de asistencia &nbsp;</button>
                      </div>
                </main>
                <br>
                <h1 class="h4">{{course.name}}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="principal">
        <div class="row nav nav-tabs">
            <div class="col-xs-12">
            <a style="font-size: 27px;  color: #333146;" href="advertisementList" routerLink="/advertisementList"> <i class="fa fa-comments-o fa-1x" aria-hidden="true"></i>Avisos</a>
            </div>
        </div>
        <div class="row">
            
        </div>
        
    
    
        <!--Debo iterar este pedacito las veces que el curso ocupe-->
      <!--  <div class="row nav nav-tabs" *ngFor='let in of semanas(5);let i = index'>
            <div class="col-md-12">
                <h1 class="h4">Semana 1</h1>
            -->
        <div class="row nav nav-tabs">
            <div data-toggle="modal" data-target="#portfolioModal3" class="col-md-12">
                <h1 class="h4">Material de clase <button *ngIf="showProfessorBoard" style="background-color: transparent; border: none;"><i class="fa fa-plus" aria-hidden="true"></i></button></h1>
                <div class="card">
                    <ul
                      class="list-group list-group-flush"
                      *ngFor="let file of fileInfos"
                    >
                      <li class="list-group-item">
                        <a href="{{ file.url }}"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;{{ file.name }}</a>
                      </li>
                    </ul>
                  </div>
            
            </div>

        </div>
  
        <div class="row nav nav-tabs">
            <div class="col-md-12">
                <h1 class="h4">Tareas <button *ngIf="showProfessorBoard" style="background-color: transparent; border: none;"><i class="fa fa-plus" aria-hidden="true"></i></button></h1>
            </div>
        </div>
       
    </div>
    
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <br><br>
                                <label class="btn btn-default">
                                    <input type="file" (change)="selectFile($event)" />
                                  </label>
                                  <br><br>
                                  <button id="boton1" class="btn btn-success " (click)="upload()" data-dismiss="modal">Subir</button>
                                  <br><br>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</body>

</html>


