<app-header ></app-header>
<div class="container text-center mt-5">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card">
        <h1><strong class="mt-4">PLATAFORMA CULTURAL VIRTUAL</strong></h1>
        <div class="container mt-2">
            <div class="row">
                <div class="col">
                    <youtube-player videoId="kO-OcrrTRsk" suggestedQuality="default"></youtube-player>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    Eventos que puede tener youtube-player
    this._playerChanges.complete();
    this._videoId.complete();
    this._height.complete();
    this._width.complete();
    this._startSeconds.complete();
    this._endSeconds.complete();
    this._suggestedQuality.complete();
    this._youtubeContainer.complete();
    this._playerVars.complete();
    this._destroyed.next();
    this._destroyed.complete();
-->