<app-header ></app-header>
<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h3 style="text-align:center">Agregar eventos</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="eventForm" action="">
        <div class="form-group">
          <input placeholder="Nombre del evento" type="text" [(ngModel)]="event.name" name="name" formControlName="eventName" class="form-control">
          <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div class="container-error-message" *ngIf="name.errors.required">
              El nombre es un campo obligatorio
            </div>
            <div class="container-error-message" *ngIf="name.errors.pattern">
              Caracter inválido
            </div>
            <div class="container-error-message" *ngIf="name.errors.maxlength">
              Tamaño máximo de caracteres 45
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Fecha del evento </label>
          <input type="date" #myDate [value]="event.dateEvent | date:'yyyy-MM-dd'"
            (input)="event.dateEvent = $event.target.valueAsDate" formControlName="eventDate" />
          <div class="alert-danger" *ngIf="date.invalid && (date.dirty || date.touched)">
            <div class="container-error-message" *ngIf="date.errors.required">
              La fecha del evento es un campo obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Hora del evento </label>
          <input placeholder="Hora del evento" type="time" [(ngModel)]="event.hourEvent" name="hourEvent" formControlName="eventHour"
            class="form-control">
          <div class="alert-danger" *ngIf="hour.invalid && (hour.dirty || hour.touched)">
            <div class="container-error-message" *ngIf="hour.errors.required">
              La hora del evento es un campo obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <input placeholder="Lugar del evento" type="text" [(ngModel)]="event.place" name="place" formControlName="eventPlace" class="form-control">
          <div class="alert-danger" *ngIf="place.invalid && (place.dirty || place.touched)">
            <div class="container-error-message" *ngIf="place.errors.required">
              El lugar del evento es un campo obligatorio
            </div>
            <div class="container-error-message" *ngIf="place.errors.pattern">
              Caracter inválido
            </div>
            <div class="container-error-message" *ngIf="place.errors.maxlength">
              Tamaño máximo de caracteres 45
            </div>
          </div>
        </div>

        <button [disabled]="eventForm.invalid" (click)="Save()" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>