<app-header ></app-header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="body-inner">

        
<!-- Masthead-->
<br>  <br> 
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        
       
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Eventos Disponibles</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center" *ngFor="let event of events">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"> <button style="background-color: transparent; border: none;" (click) = "selectedEvent(event)">  <i class="fa fa-plus fa-3x" aria-hidden="true"> </i> </button> </div>
                    </div>
                    <img class="img-fluid" src="http://localhost:8084/file/files/{{event.image.id}}" alt="" />
                </div>
            </div>
        </div>
        <br><br><br><br><br>
    </div>
</section>
    
          <!-- Portfolio Modals-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">{{currentEvent.name}}</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5"> Fecha del evento: {{currentEvent.dateEvent}}<br> Hora: {{currentEvent.hourEvent}}</p>
                            <p class="mb-5"> Lugar: {{currentEvent.place}}</p>
   
                          <button class="btn btn-primary" data-dismiss="modal">
                             
                                COMPRAR BOLETO
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div><!-- Body inner end -->
