<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Slide Login Form template Responsive, Login form web template, Flat Pricing tables, Flat Drop downs Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  
     <script>
          addEventListener("load", function () {
              setTimeout(hideURLbar, 0);
          }, false);
  
          function hideURLbar() {
              window.scrollTo(0, 1);
          }
      </script>
  	<link href="/src/assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
     web font 
    <link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    web font 
  
  </head>
  <app-header ></app-header>
<body> 
  <div class="w3layouts-main"> 
    <div class="bg-layer">
      <br>
        <br>
        <br>
        <br>
        <br>
      <div class="header-main">
        <div class="main-icon">
          <h1>Registrarse</h1>     
         </div>
    <div class="header-left-bottom">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="icon1">
          <input
            type="text"
            class="form-control"
            name="idUser"
            [(ngModel)]="form.idUser"
            required
            minlength="9"
            maxlength="12"
            #idUser="ngModel"
            placeholder="Identificación"
          />
          <div class="alert-danger" *ngIf="f.submitted && idUser.invalid">
            <div *ngIf="idUser.errors.required">La Identificación es un campo obligatorio</div>
            <div *ngIf="idUser.errors.minlength">
              La Identificación debe tener mínimo 9 caracteres 
            </div>
            <div *ngIf="idUser.errors.maxlength">
              La Identificación debe tener máximo 12 caracteres 
            </div>
          </div>
        </div>
        <div class="icon1">
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="8"
            #password="ngModel"
            placeholder= "Contraseña"
          />
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">La contraseña es un campo obligatorio</div>
            <div *ngIf="password.errors.minlength">
              La contraseña debe tener al menos 8 caracteres
            </div>
          </div>
        </div>
        <div class="icon1">
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="form.name"
            required
            minlength="3"
            maxlength="20"
            #name="ngModel"
            placeholder= "Nombre"
          />
          <div class="alert-danger" *ngIf="f.submitted && name.invalid">
            <div *ngIf="name.errors.required">El nombre es requerido</div>
            <div *ngIf="name.errors.minlength">
              El nombre debe tener mínimo 3 caracteres
            </div>
            <div *ngIf="username.errors.maxlength">
              El nombre debe tener máximo 20 caracteres
            </div>
          </div>
        </div>
        <div class="icon1">
          <input
            type="text"
            class="form-control"
            name="lastName"
            [(ngModel)]="form.lastName"
            required
            minlength="3"
            maxlength="20"
            #lastName="ngModel"
            placeholder= "Apellidos"
          />
          <div class="alert-danger" *ngIf="f.submitted && lastName.invalid">
            <div *ngIf="lastName.errors.required">El apellidos es un campo obligatorio</div>
            <div *ngIf="lastName.errors.minlength">
              El apellido debe tener mínimo 3 caracteres
            </div>
            <div *ngIf="lastName.errors.maxlength">
              El apellido debe tener máximo 20 caracteres
            </div>
          </div>
        </div>
        <div class="icon1">
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
            placeholder= "Email"
          />
          <div class="alert-danger" *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">El email es requerido</div>
            <div *ngIf="email.errors.email">
               El email deber ser válido
            </div>
          </div>
        </div>
        <div class="icon1">
          <input
            type="number"
            class="form-control"
            name="tel"
            [(ngModel)]="form.tel"
            required
            minlength="8"
            maxlength="8"
            #tel="ngModel"
            placeholder= "Teléfono"
          />
          <div class="alert-danger" *ngIf="f.submitted && tel.invalid">
            <div *ngIf="tel.errors.required">El teléfono es requerido</div>
            <div *ngIf="tel.errors.minlength">
              El teléfono debe tener mínimo 8 dígitos
            </div>
            <div *ngIf="tel.errors.maxlength">
              El teléfono debe tener máximo 8 dígitos
            </div>
          </div>
        </div>
        <div class="icon1">
          <input
           type="date" 
           class="form-control"
           name="bornDate"
           [(ngModel)]="form.bornDate"
           required
           #bornDate="ngModel"
           placeholder= "Fecha de nacimiento"
           />
        </div>
        <div class="icon1">
          <select  [(ngModel)]="form.gender"  #type="ngModel" required class="form-control" name="type">
            <option value="" disabled>Género</option>
            <option>Femenino</option>
            <option>Masculino</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Registrarse</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        <br />{{ errorMessage }}
        </div>

       
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        ¡Se registro de manera éxitosa!
      </div>
    </div>
  </div>
</div>
  </div>
</body>