.container{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 500px;
    padding: 16px;
    margin: 10px auto;
    background: #f7f7f7;
    }
    input[type="text"],
    input[type="number"],
    textarea {
     -webkit-transition: all 0, 30s ease-in-out;
     transition: all 0, 30s ease-in-out;
     outline: none;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     width: 100%;
     background: #fff;
     margin-bottom: 4%;
     border: 1px solid #ccc;
     padding: 3%;
     color: #555;
     font: 95% Arial, Helvetica, sans-serif;
   }
    .alert-danger {
        color: #721c24;
        background: #f8d7da;
        border-color: #f5c6cb;
        margin-bottom: 5px;
      }
      .btn-send {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 3%;  
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        font-size: 15px;
    
      }
    
      .container-error-message {
        padding: 3px;
      }