<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar anuncios</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="adForm" action="">
                <div class="form-group">
                    <label for="">Id:</label>
                    <input type="number" [(ngModel)]="Advertisement.pk_AdCode" name="pk_idAd" formControlName="Id" class="form-control">
                </div>
        
         
                <div class="form-group">
                    <label for="">Descripcion:</label>
                    <input type="text" [(ngModel)]="Advertisement.Description" name="descrip" formControlName="descrip" class="form-control">
                    <div class="alert alert-danger" *ngIf="descrip.invalid && (descrip.dirty ||descrip.touched)">
                        <div class="container-error-message" *ngIf="descrip.errors.required">
                          La Descrip es un campo obligatorio
                        </div>
                        <div class="container-error-message" *ngIf="descrip.errors.pattern">
                            Caracteres no válidos
                          </div>
                          <div class="container-error-message" *ngIf="descrip.errors.maxlength">
                            Tamaño máximo 100 caracteres
                          </div>
                    </div>
                </div>
               <button
               [disabled] = "adForm.invalid"
                (click)="Save()" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>